li a {
    color: green;
    margin-left: 10px;
}

body {
    background: white url("images/background.gif") no-repeat;
    background-repeat: no-repeat;
    background-position: center top;
    margin-right: 200px;
}